body{
    color:#354463;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    display:grid;
    font-family:"Lato", sans-serif;
}

/*header*/
.header{
    padding:21px 125px 19px 125px;
    display:flex;
    justify-content:center;

}
.header-topic{
    font-size:18px;
    text-align:center;
    width:150px;
    font-weight:bold;
}
.subheading-topic{
    font-size:1rem;
}
a{
    text-decoration:none;
    color: inherit;
}

/*main*/

    /*common*/
label{
    font-size:11px;
}
input,select{
    font-size:16px;
    background-color:#354463;
    border:0;
    padding:7px 0px 0px 0px;
}
select{
    color:#C1F7D5;
    width:45px;
}





.form-common-headings{
    font-size:22px;
    font-weight:bold;
}

.form-common-hr::after{
    content:"";
    display:block;
    width:100%;
    height:2px;
    background-color:#C1F7D5;
    margin-top:10px;
}

.main{
    background-image:url('src//annie-spratt-427340-unsplash-(1)@2x.png');
    background-size:cover;
    height:1018px;
}
.main-container{
    display:grid;
    grid-template-rows:79px 848px;
    grid-template-columns:312px;
    gap:25px;
    padding:32px;
    justify-content:center;
}
.main-topic{
    line-height:40px;
    font-size:32px;
    font-family: "flood-std", sans-serif;
    color:white;
    text-align:center;
}
.main-form{
    background-color:#354463;
    color:#FFFFFF;

}
.form-container{
    padding:32px;
    display:flex;
    flex-direction:column;
    gap:17px;
    height:816px;
}

.form-name-container{
    display:flex;
    width:249px;
    gap:16px;
}
.form-first-name,.form-last-name{
    width:116px;
}
.form-name-input-type{
    width:110px;
}
.form-state-input-type{
    width:55px;
}
.city-state-zip-container{
    display: flex;
    width: 249px;
    gap: 16px;
}
.state-zip-box{
    display: flex;
    width:116px;
    gap: 16px;
}
.form-payment-info{
    margin-top:23px;
}
.form-expire-security-container{
    display:flex;
    gap:16px;
    width: 249px;
}
.form-expire-date-container{
    display:flex;
    width:116px;
    gap:7px;
    flex-direction:column;
    margin-top:5px;

}
.month-year-box{
    display:flex;
        margin-top:-5px;
    gap:16px;
}
.form-expire-date{
    width:50px;
    height:16px;
}

.form-expire-date-container>label{
    font-size:10px;
}
.form-expire-date>input{
    color:#C1F7D5;
}

.form-confirm-donation{
    margin-top:38px;
    }

.button-go-bak-link-container{
    display:flex;
    flex-direction:column;
    gap:24px;
    padding:15px 0px;
}

.form-payment-button{
    padding:18px 52px 15px 60px;
    background-color:#C1F7D5;
    width:249px;
    border-radius:30px;
    border:0;
    font-size:16px;
    font-weight:bold;
    color:#354463;

}
.go-back-link>a{
    color:#C1F7D5;
    font-size:14px;

}

/*last-page*/
.footer{
    padding:4.0625rem 2.0625rem 3.4375rem 2rem;
    display:grid;
    grid-template-columns:5.6875rem 11.3125rem;
    grid-template-rows:6.75rem 7.5rem 8.4375rem;
    row-gap:4.25rem;
    column-gap:2.375rem;
    margin:auto;
}
.footer-topic{
    font-size:1.125rem;
    font-weight:bold;
}
.contact-us-container,.follow-us-container,.learn-more-container{
    display:flex;
    flex-direction:column;
    gap:0.6875rem;
    width:7.875rem;
    height:6.75rem;
    justify-self:center;
}
.follow-us-container{
    justify-self:start;
}
.contact-us-topic,.follow-us-topic,.learn-more-topic{
    font-size:0.6875rem;
}
.contact-us-address{
    font-size:0.875rem;
}
.follow-us-list,.learn-more-list{
    display:flex;
    flex-direction:column;
    gap:0.625rem;
    font-size:0.875rem;
    text-decoration:underline;
}
.support-indian-farmers-topic{
    grid-row:3;
    grid-column:2;
    font-size:2.75rem;
    font-family: "flood-std", sans-serif;
    width:11.625rem;
}






    /*tablet*/
@media (min-width:480px) and (max-width:1023px){
    .header{
        padding:33px 308px 29px 308px;
    }
    .header-topic{
        font-size:22px;
        width:152px;
    }

    /*main commons*/

.form-common-headings{
    font-size:28px;

}

 label{
    font-size:14px;
    display:block;
}
input,select{
    font-size:20px;
    border:0;
    padding:13px 0px 0px 0px;
}
select{
    color:#C1F7D5;
    width:45px;
}



.form-common-hr::after{
    margin-top:14px;
}


    /*main*/
.main{
    height:1370px;
}
.main-container{
    padding:64px 128px;
    grid-template-rows:104px 1076px;
    grid-template-columns:640px;
    gap:32px;
}
.main-topic{
    font-size:44px;
    width:512px;
    justify-self:center;
    line-height:44px;
 }

.form-container{
    padding:58px 64px 70px 64px;;
    gap:35px;
    height:948px;
}

.form-name-container{
    gap:63px;
    width:511px;

}
.form-first-name,.form-last-name{
    width:224px;
    height:62px;
    font-size:14px
}
.form-name-input-type{
    width:120px;
}

.city-state-zip-container {
    width:511px;
    gap:63px;
}
.form-city,.state-zip-box{
    width:224px;
    gap:33px;
}
.form-state,.form-zip{
    width:96px;
}


.form-expire-security-container{
    width:511px;
    gap:63px;
}

.form-expire-date-container,.form-security-code{
    width:224px;
    margin-top:0px;
}
.form-expire-date-container>label{
    font-size:14px;
}
.month-year-box{
    gap:32px;
}
.form-expire-date{
    width:96px;
}
.form-expire-security-input-type{
    width:96px;
}
.button-go-bak-link-container{
    flex-direction:row-reverse;
    width:512px;
    padding:0;
    justify-content:space-between;
    align-items:center;


}
.form-payment-button{
    font-size:22px;
    padding:0;
    padding:15px 0px;

}
.go-back-link>a{
    font-size:16px;
    width:256px;

}


    /*footer*/
.footer{
    padding:3.75rem 4.6875rem 3.324rem 4rem;
    grid-template-columns:9.5625rem 7.875rem 11.3125rem;
    grid-template-rows:8.25rem 8.5rem;
    row-gap:2.675rem;
    column-gap:5rem;
}
.footer-topic{
    font-size:1.375rem;
}
.contact-us-container,.follow-us-container,.learn-more-container{
    justify-self:start;
}
.learn-more-container{
    grid-row:2;
    grid-column:2;
}
.support-indian-farmers-topic{
    grid-row:2;
    grid-column:3;
}

}




        /*laptop*/
@media (min-width:64rem){
    .header{
        padding:28px 623px;
    }
    .header-topic{
        font-size:28px;
        width:250px;
    }

       /*main commons*/

.form-common-headings{
    font-size:28px;
}

 label{
    font-size:14px;
    display:block;
}
input,select{
    font-size:20px;
    border:0;
    padding:13px 0px 0px 0px;
}
select{
    color:#C1F7D5;
    width:45px;
}

.form-common-hr::after{
    margin-top:14px;
}


    /*main*/
   .main{
        height:1200px;
        background-image:url('src//annie-spratt-427340-unsplash-(2)@2x.png');
    }
    .main-container{
        padding:80px 160px 126px 160px;
        grid-template-rows:998px;
        grid-template-columns:  640px 384px;
        gap:96px;
    }
    .main-topic{
        grid-column:2;
        font-size:72px;
        height:362px;
        line-height:80px;
        text-align:start;
    }
    .main-form{
        grid-column:1;
        grid-row:1;
    }

.form-container{
    gap:26px;

}

.form-name-container{
    gap:63px;
    width:511px;

}
.form-first-name,.form-last-name{
    width:224px;
    height:62px;
}
.form-name-input-type{
    width:120px;

}

.city-state-zip-container {
    width:511px;
    gap:63px;
}
.form-city,.state-zip-box{
    width:224px;
    gap:33px;
}
.form-state,.form-zip{
    width:96px;
}


.form-expire-security-container{
    width:511px;
    gap:63px;
}

.form-expire-date-container,.form-security-code{
    width:224px;
    margin-top:0px;
}
.form-expire-date-container>label{
    font-size:14px;
}
.month-year-box{
    gap:32px;
}
.form-expire-date{
    width:96px;
}
.form-expire-security-input-type{
    width:96px;
}
.button-go-bak-link-container{
    flex-direction:row-reverse;
    width:512px;
    padding:0;
    justify-content:space-between;
    align-items:center;

}
.form-payment-button{
    font-size:22px;
    padding:0;
    padding:15px 0px;

}
.go-back-link>a{
    font-size:16px;
    width:256px;

}



         
/*footer*/
.footer{
    padding:4.1125rem 9.875rem 2.5119rem 10rem;
    display: grid;
    grid-template-columns:12rem 8.5rem 8.5rem 8.5rem 11.3125rem;
    grid-template-rows:8.5rem;
    justify-content:space-between;
    width:70rem;
    margin-left: 12rem;
}
.footer-topic{
    font-size:1.375rem;
}
.contact-us-container,.follow-us-container,.learn-more-container{
    justify-self:start;
}
.follow-us-topic::after,.learn-more-topic::after,.contact-us-topic::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.125rem;
    background-color:#354463;
    margin: 0.75rem 0;
}
.contact-us-container, .follow-us-container, .learn-more-container {
    gap:0;
}
.learn-more-container{
    grid-column:3;
    grid-row:1;
}
.support-indian-farmers-topic{
    grid-row:1;
    grid-column:5;
}

    }

