body{
    color:#354463;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    display:grid;
    font-family:"Lato", sans-serif;
}

            /*commons*/
.common-headings{
    font-size:0.875rem;
    width:10rem;
    text-align:center;
    align-self:center;
    padding:0.6875rem 0rem;
    margin-top:-1.2rem;
    font-weight: bold;
}
.predict-button-commons{
    background-color:#C1F7D5;
    font-weight:bold;
    font-size:1rem;
    text-align:center;
    border-radius:6.785rem;
    padding:0.625rem;
    width:9.5rem;
}


    /*phone*/
.heading{
    padding:2rem;
    display:grid;
    grid-template-columns:7.8125rem 6.625rem;
    align-items:center;
    justify-content:space-between;
    width:19.5rem;
    margin:auto;
    row-gap:0.625rem;
}
.heading-topic{
    font-weight:bold;
    font-size:1.6rem;
    align-self:center;
}
.subheading-topic{
    font-size:0.55rem;
}
a{
    text-decoration:none;
    color:#354463;
}
.heading-list-ul{
    display:flex;
    flex-direction:column;
    font-size:0.825rem;
    padding:0rem;
    list-style:none;
    row-gap:1rem;
}
.change-language{
    font-weight:bold;
    font-size:1.125rem;
    background-color:#C1F7D5;
    grid-row:2;
    grid-column:1/3;
    text-align:center;
    border-radius:6.785rem;
    padding:0.625rem;
    
    cursor: pointer;
}


.hidden{
    display: none !important ;
}

/*KrishiMitra*/
.what-we-do-container-background{
    background-color:#354463;
    height:1750px;
    }
.learn-what-we-do-container{
    padding:63px 32px 32px 32px;
    display:grid;
    width:312px;
    grid-template-rows:174px 1408px;
    gap:82px;
    margin:auto;

}
.learn-what-we-do-title-container{
    display:flex;
    flex-direction:column;
    gap:22px;
    color:white;
    height:170px;
    align-items:center;
}
.what-we-do-heading{
    background-color:white;
    color:#354463;
}
.about-what-we-do{
    font-size:22px;
    font-weight:bold;
    text-align:center;
    width:302px;
}
.ml-prediction-container{
    display:grid;
    grid-template-rows:455px 455px 455px;
    height:1408px;
    gap:32px;
}
.soil-prediction-container, .fertilizer-prediction-container, .crop-prediction-container{
    background-color:white;
    padding:0px 32px;
    display:grid;
    grid-template-rows:176px 165px 40px;
    justify-items:center;
    height:415px;
}

.soil-prediction-image>img, .fertilizer-prediction-image>img, .crop-prediction-image>img{
    width:248px;
    margin-top:-33px;
}

.soil-prediction-topic-box, .fertilizer-prediction-topic-box, .crop-prediction-topic-box{
    display:flex;
    flex-direction:column;
    gap:22px;
    align-items:center;
    text-align:center;
}
.soil-prediction-topic, .fertilizer-prediction-topic, .crop-prediction-topic{
    font-size:18px;

    font-weight:bold;
}
.about-soil-prediction, .fertilizer-prediction, .about-crop-prediction{
    font-size:14px;
    width:242px;
}



/*tablet*/
@media (min-width:30rem) and (max-width:63.9375rem){

    
    /*heading*/
    .heading{
        padding:1.25rem 4rem;
        display:grid;
        grid-template-rows:auto auto;
        grid-template-columns:20.93rem 8.75rem;
        color:#354463;
        margin:auto;
        column-gap:min(10.1875rem,22vw);
        width:40rem;
    }
    .heading-topic{
        font-size:1.375rem;
        width:10rem;
    }
    .subheading-topic{
        font-size:1rem;
    }
    .heading-list{
        grid-row:2;
        grid-column:1;
    }
    .heading-list-ul{
        flex-direction:row;
        justify-content:space-between;
        font-size:1rem;
    }
    .change-language{
        margin-top:-4rem;
        padding:1rem 0.625rem 0.875rem 1rem;
        grid-row:2;
        grid-column:2;
    }

    /*what-we-do*/

.what-we-do-container-background{
    height:1358px;
}
.what-we-do-container{
    padding:4.95rem 4rem 3.5rem 4rem;
    gap:5.5rem;
    width:640px;
    grid-template-rows:190px 968px;
    gap:64px;
}
.what-we-do-title-container{
    align-items:start;
    gap:32px;
}
.what-we-do-heading{
    align-self:start;
}
.about-what-we-do{
    text-align:start;
    font-size:36px;
    width:640px;
}
.planting-education-advocacy-container{

    grid-template-rows:280px 280px 280px;
    gap:64px;
    height:968px;

}
.tree-planting-initiative-container, .education-and-training-container, .advocacy-and-campaigning-container{
    padding:0px;
    display:grid;
    grid-template-columns:288px 246px;
    grid-template-rows:201px 40px;
    column-gap:32px;
    height:280px;
    justify-content:center;
}
.tree-planting-initiative-image>img, .education-and-training-image>img, .advocacy-and-campaigning-image>img{
    width:288px;
    height:201px;
}
.tree-planting-initiative-image, .education-and-training-image, .advocacy-and-campaigning-image{

}
.tree-planting-initiative-topic-box, .education-and-training-topic-box, .advocacy-and-campaigning-topic-box{
    gap:32px;
    height:238px;
    margin-top:36px;
    text-align:start;
}
.tree-planting-initiative-topic, .education-and-training-topic, .advocacy-and-campaigning-topic{
    font-size:22px;
    width:144px;
    align-self:start;
}
.about-tree-planting-initiative, .about-education-and-training, .about-advocacy-and-campaigning{
    font-size:16px;
}
.tree-planting-initiative-button, .education-and-training-button, .advocacy-and-campaigning-button{
    justify-self:end;
    margin-top:-11px;
    height:22px;
}

}

/*laptop*/
@media (min-width:64rem){
    /*commons*/
    .read-more-button-commons{
       width:10rem;
       padding:0.8125rem 0;
       font-size:1.125rem;
       align-self:start;
    }

    /*heading*/
    .heading{
        padding:2.125rem 10rem;
        width:70rem;
        display:flex;
        flex-direction:row;
        flex-grow:0;
        column-gap:min(14rem, 0vw);
        margin:auto;
    }
    .heading-topic{
        min-width:10rem;
        font-size:1.375rem;
    }
    .subheading-topic{
        font-size:1rem;
    }
    .heading-list-ul{
        width:25.3125rem;
        font-size:1rem;
        flex-direction:row;
        justify-content:space-between;
    }
    .change-language{
        min-width:10rem;
    }

    /*Krshi Mitra?*/
.what-we-do-container-background{
    height:1070px;
}
.what-we-do-container{
    padding:108px 9.875rem 10rem 10rem;
    gap:76px;
    width:1120px;
    grid-template-rows:200px 528px;

}
.what-we-do-title-container{
    width:70.125rem;
    align-items:start;
    gap:40px;
}
.what-we-do-heading{
    align-self:start;
}
.about-what-we-do{
    width:68.25rem;
    text-align:start;
    font-size:43px;
}
.planting-education-advocacy-container{
    grid-template-columns:20rem 20rem 20rem;
    grid-template-rows:528px;
    gap:4rem;
    height:528px;
}
.tree-planting-initiative-container,.education-and-training-container,.advocacy-and-campaigning-container{
    gap:0px;
    height:528px;
    grid-template-rows:224px 217px 40px;
    justify-items:start;
}

.tree-planting-initiative-image>img,.education-and-training-image>img,.advocacy-and-campaigning-image>img{
    width:320px;
    height:224px;
    margin-left:rem;
}
.tree-planting-initiative-image,.education-and-training-image,.advocacy-and-campaigning-image{
    height:224px;
    margin-left:rem;
}
.tree-planting-initiative-topic-box,.education-and-training-topic-box,.advocacy-and-campaigning-topic-box{
    text-align:start;
    height:227px;
    width:256px;
    justify-self:start;
}
.tree-planting-initiative-topic,.education-and-training-topic,.advocacy-and-campaigning-topic{
    font-size:1.75rem;
    width:256px;
    height:70px;
}
.about-tree-planting-initiative,.about-education-and-training,.about-advocacy-and-campaigning{
    font-size:1rem;
    height:144px;
}
}